html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:whitesmoke ;
}
h1{
    color:#0089e4;
    text-align: center;
    
}
h2 {
    color:#4fafff;
    text-align: center;
}

p{
    color:black;
    padding: 20px;
}

label{
    color:black;
    padding: 20px;
    white-space: pre-wrap;
}
input{
    background-color:whitesmoke;
    width:60px;
    height: 15px;
}
button{
    white-space: pre-wrap;
    background-color: skyblue;
    font-size: 15px;
}